@font-face {
  font-family: 'Sporting';
  src: url('./SportingOutline-x3e85.ttf') format('truetype');
}

.About {
  text-align: center;
  width: 80%;
  margin: auto;
}

.About h2 {
  font-family: 'Sporting';
  font-size: 50px;

}

.About h3 {
  font-size: 40px;
}

.About p {
  font-size: 40px;
}