@font-face {
  font-family: 'Sporting';
  src: url('./SportingOutline-x3e85.ttf') format('truetype');
}

.App {
  text-align: center;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

#btn {
  border-color: black;
  border-width: 1px;
  background-color: rgb(29, 66, 138);
  margin: 5px 5px;
}

h1 {
  font-family: 'Sporting';
  font-size: 60px;
}

.not-found h2{
  font-family: 'Sporting';
  font-size: 50px;
}

.not-found p {
  font-size: 40px;
}

.not-found Link {
  font-size: 80px;
}

.not-found {
  text-align: center;
  margin-top: 100px;
}